<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxwtech.rtdemo" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service
            android:name="com.gxwtech.rtdemo.services.RTDemoService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
                <action android:name="com.gxwtech.rtdemo.Services.RTDemoService" />
            </intent-filter>
        </service>

        <activity
            android:name=".PumpSettingsActivity"
            android:label="@string/title_activity_pump_settings"
            android:parentActivityName=".RTDemoSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.RTDemoSettingsActivity" />
        </activity>
        <activity
            android:name=".TempBasalActivity"
            android:label="@string/title_activity_temp_basal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.MainActivity" />
        </activity>
        <activity
            android:name=".MonitorActivity"
            android:label="@string/title_activity_monitor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.MainActivity" />
        </activity>
        <activity
            android:name=".MongoDBSettingsActivity"
            android:label="@string/title_activity_mongo_dbsettings"
            android:parentActivityName=".RTDemoSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.RTDemoSettingsActivity" />
        </activity>
        <activity
            android:name=".RTDemoSettingsActivity"
            android:label="@string/title_activity_rtdemo_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.MainActivity" />
        </activity>
        <activity
            android:name=".PersonalProfileActivity"
            android:label="@string/title_activity_personal_profile"
            android:parentActivityName=".RTDemoSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.RTDemoSettingsActivity" />
        </activity>
        <activity
            android:name=".UtilityActivity"
            android:label="@string/title_activity_utility"
            android:parentActivityName=".RTDemoSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.RTDemoSettingsActivity" />
        </activity>
        <activity
            android:name=".LoggingSettingsActivity"
            android:label="Logging Settings"
            android:parentActivityName=".RTDemoSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.RTDemoSettingsActivity" />
        </activity>
        <activity
            android:name=".SuspendAPSActivity"
            android:label="@string/title_activity_suspend_aps"
            android:parentActivityName=".MonitorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.rtdemo.MonitorActivity" />
        </activity>
    </application>

</manifest>
